<!doctype html>
<html>
    <head>
        <title>Petition</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <p>Testing that is coming from main.handlebars</p>
        {{{body}}}
        <a href="/thanks"> This is a link to the thanks page</a>
        <hr>
        <a href="/signers"> This is a link to the SIGNERS page</a>
        <hr>
        <a href="/logout"> LOG OUT </a>
        <footer>    COPYRIGHT 2019, FUNKY GERMAN CHICKEN </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/script.js"></script>    
    </body>
</html>