<!doctype html>
<html>
    <head>
        <title>Petition for a better Internet</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{{body}}}
        <footer><p class="footer"> Made with <span id="redheart">♡</span>  from Berlin by Francisco Riveira </p></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/script.js"></script>    
    </body>
</html>