<div class="container mt-4">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <form method="POST">
                <div class="form-group">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="E-Mail">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                
                <button type="submit" class="btn btn-success btn-block mt-4">Login</button>
                
                <p class="mt-2">Or if you don't have an account, please:</p>
            </form>
            <div class="mx-auto">
 <a href="/register"><button class="btn btn-warning btn-block">Register!</button></a>
            </div>
           
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
