<div class="loginform">
<p>This is coming from login.handlebars</p>
<form method="POST">
 <div class="form-group">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
  <div class="form-group">
    <input type="email" name="email" placeholder="email">
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password">
  </div>
  <button>Log In</button>
</form>
<p>Or if you don't have an account, please <a href="/register">Register</a> now!</p>
</div>