<div class="heretheform">

<form method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="first" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="last" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="hidden" name="sig">
  </div>
  {{!-- Don't forget your canvas!!! <canvas></canvas> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>