<div class="heretheform">
<h2 class="petitionstyles">If this is how it feels to browse the Internet in 2019...</h2>
  <video class="gifvideo" src="https://video.twimg.com/tweet_video/EEH1gogU0AIQyOt.mp4" controls="controls" type="video/mp4"></video>
  <p class="credits"><a id="nounderline" href="https://twitter.com/HugdiSpencer/status/1171487383008579584">Credits @HugdiSpencer</a></p>
<h3 class="petitionstyles">DO SOMETHING ABOUT IT</h3>
<h3 class="petitionstyles"> and sign our petition to make Internet a platform FREE of redundant and annoying popups! </h3>

<form method="POST">
  <div class="form-group">
    <input type="hidden" name="signature" id="signature">
  </div>
    <div class="form-group">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
<h4 class="petitionstyles">SIGN HERE with your mouse:</h4>
<div class="form-group">
  <canvas id="signcanvas" width="600" height="150px"></canvas>
  </div>
  <button class="clear" type="button">Clear your signature</button>
  <button class="registerbtn" id="updates">Submit</button>
</form>
</div>