<div class="regiform">

{{#if error}}
<div class="err"><p>Something went wrong :(</p></div>
{{/if}}

<form method="POST">
    <div class="form-group">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" name="age" placeholder="Age">
  </div>
  <div class="form-group">
    <input type="text" name="city" class="form-control" placeholder="City">
    </div>
      <div class="form-group">
    <input type="url" name="url" class="form-control" placeholder="Homepage">
    </div>

<button class="registerbtn" id="updates">CONTINUE</button>
</form>
</div>
