<div class="regiform">
<form method="POST">
        <div class="form-group">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="first_name" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="E-Mail">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button class="registerbtn">Register</button>
  <p id="tologin">Or if you have an account, please:</p>
</form>
   <a id="nounderline" href="/login"><button class="loginbtn">Log in!</button></a>
</div>