<div class="heretheform">
<h2 class="petitionstyles">Thank you, {{first}}, for signing our petition to make Internet a platform that everybody can enjoy hustle free!</h2>

<h4 class="petitionstyles">This is your signature:</h4>


<img class="petitionstyles" src="{{signature}}" alt="">

{{#each nrofsigners}}
<h4 class="petitionstyles">So far {{count}} users have signed our petition!!</h4>
<a id="nounderline" href="/signers"><h4 class="petitionstyles">CLICK HERE to see a full list of our Supporters!</h4></a>
{{/each}}

<form action="/thanks/delete" method="POST"> 
        <div class="form-group">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
    <button class="deletingsignature">Delete your signature 😢</button>
</form>

</div>
