<h2>Thank you {{first}} for signing out petition to make Internet a platform blabliblablo</h2>

<p>Feel free to click the following link to see all our supporters:</p>


<img src="{{signature}}" alt="">

{{#each nrofsigners}}
<a href="/signers"><h3>So far {{count}} users have signed our petition!!</h3></a>
{{/each}}

