body {
	background-color: #dadada;
}

h1 {
	color: red;
}

.heretheform {
	margin-top: 100px;
	margin-left: 350px;
	margin-right: 350px;
	margin-bottom: 100px;
}

canvas {
	border: 1px solid black;
	background-color: rgb(232, 240, 254);
}

#signernames {
	color: red;
}

#signedtext {
	color: #4852ad;
	font-size: 18px;
}

h3 {
	background-color: none;
}

h3:nth-of-type(even) {
	background-color: pink;
}
